<!DOCTYPE html>
<br><br>
{{#each foo}}
{{this}}
{{/each}}

	<h1>Adding forms</h1>	
	<div class="addSports">
		<h2>New Sports</h2>
		<form id="addsport" action="/admin" method="post">
			Name of Sport: <input type="text" name="s_name"><br>
			Sport Organization Name: <input type="text" name="prof_org"><br>
		<br><input type="submit" value="Submit"><br>
		</form> 
	</div>

<div class="addingForms">
      <div class="addTeam" >
      <h2>Add Teams</h2>   
     
       <form id="addTeam" action="/admin/newteam" method="post">
        	Team Name:<br><input type="text" name="team_name"><br>
        	City:<br><input type="text" name="city"><br>
        	State:<br><input type="text" name="state"><br>
        	Sport Type:<br> <select name="sport_type" 
			{{#each sports}}
            <option value="{{sport_id}}">{{sport_name}}</option>
            {{/each}}
			</select><br>
        	<input type="submit" value="Submit"><br>
       </form> 
     </div>
   
      <div class="addInjury">
      <h2>Add Injuries</h2>   
       <form action="/action_page.php">
        	Injury Name:<br>
        	<input type="text" name="injury_name">
        	<br>
        	Injury Type:<br>
        	<input type="text" name="injury_type">
        	<br><br>
        	Additional Notes:<br>
        	<input type="text" name="injury_notes">
        	<br>
        	Linked to sport? (Optional)<br>
        	<input type="text" name="sport_name">
        	<br>
        	<input type="submit" value="Submit">
       </form>
      </div> 
   </div>
<div>
  <h2>Update Sports</h2>
    <table>
      <thead>
        <tr>
          <th> Sport ID </th>
          <th> Name </th>
          <th> Prof. Org. </th>
		  <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr class="body">
			{{#each sports}}
			<tr>
				<td>{{this.sport_id}}</td>
				<td>{{this.sport_name}}</td>
				<td>{{this.professional_organization}}</td>
	            <td><button onclick="deleteSport({{this.sport_id}})">Delete</button></td>
			</tr>
			{{/each}}
      </tbody>
	  </table>
</div>

<br>
<div>
  <h2>Update Teams</h2>
    <table>
      <thead>
        <tr>
			<th>Team Name</th>
			<th>City</th>
			<th>State</th>
			<th>Organization</th>
			<th>Active Salary Cap</th>
        </tr>
      </thead>
      <tbody>
        {{#each teams}}
			<tr>
				<td>{{this.team_name}}</td>
				<td>{{this.city}}</td>
				<td>{{this.state}}</td>
				<td>{{this.sport_name}}</td>
				<td>{{this.active_salary_cap}}</td>
			</tr>
		{{/each}}
      </tbody>
	  </table>
</div>
<br>
<div>
  <h2>Update Injuries</h2>
    <table>
      <thead>
        <tr>
          <th> Injury ID </th>
          <th> Name </th>
          <th> Type </th>
		  <th> Notes </th>
        </tr>
      </thead>
      <tbody>
        <tr class="body">
        {{#each injuries}}
			<tr>
				<td>{{this.injury_id}}</td>
				<td>{{this.injury_name}}</td>
				<td>{{this.injury_type}}</td>
				<td>{{this.injury_notes}}</td>
			</tr>
		{{/each}}
        </tr>
      </tbody>
	  </table>
</div>


