<!DOCTYPE html>
<br><br>
{{#each foo}}
{{this}}
{{/each}}
<li class = "field"><a href = "/admin" id = "addLink"><<< Back</a></li>
<br>
<div class="addingForms" >
	<div class="addSports">
      <h2>Add Teams</h2>   
     
       <form id="addTeam" action="/admin-teams" method="post">
        	Team Name:<br><input type="text" name="team_name"><br>
        	City:<br><input type="text" name="city"><br>
        	State:<br><input type="text" name="state"><br>
        	Sport Type:<br> <select name="sport_type" 
			{{#each sports}}
            <option value="{{sport_id}}">{{sport_name}}</option>
            {{/each}}
			</select><br>
			Revenue:<br><input type="number" name="revenue"><br>
			Active Salary Cap:<br><input type="number" name="active_cap"><br>
			Signed:<br><input type="number" name="signed"><br>
        	<input type="submit" name="newteam" value="Submit"><br>
       </form> 
	   </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div>
  <h2>Teams</h2>
    <table>
      <thead>
        <tr>
			<th>Team ID</th>
			<th>Team Name</th>
			<th>City</th>
			<th>State</th>
			<th>Sport</th>
			<th> </th>
        </tr>
      </thead>
      <tbody>
        {{#each teams}}
			<tr>
				<td>{{this.team_id}}</td>
				<td>{{this.team_name}}</td>
				<td>{{this.city}}</td>
				<td>{{this.state}}</td>
				<td>{{this.sport_name}}</td>
				<td><a href="/admin-teams/{{this.team_id}}">Update</a></td>
			</tr>
		{{/each}}
      </tbody>
	  </table>
</div>